<ion-tabs color="secondary">
  <app-logs-overlay></app-logs-overlay>
  <ion-tab label="Real-time Info" icon="time" href="/app/tabs/(real-time:real-time)">
    <ion-router-outlet name="real-time"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Controls" icon="options" href="/app/tabs/(controls:controls)">
    <ion-router-outlet name="controls"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Log" icon="clipboard" href="/app/tabs/(log:log)">
    <ion-router-outlet name="log"></ion-router-outlet>
  </ion-tab>
</ion-tabs>