<ion-content padding>

  <ng-container *ngIf="(isConnecting$ | async) as connecting else discovering">
    <p>Attempting to connect...</p>
  </ng-container>

  <ng-template #discovering>
    <ion-button [disabled]="isDiscovering" (click)="refreshDevices()">Discover Devices!</ion-button>
    <ion-button [disabled]="isDiscovering" (click)="connect()">Attempt Auto Connect!</ion-button>
    <ion-button (click)="fakeConnecting()"> fakeConnecting </ion-button>
    <p *ngIf="isDiscovering">Currently Discovering...</p>
    <p>Devices</p>
    <ion-list>
      <ion-item *ngFor="let device of devices" (click)="connnect(device)">
        <ion-label>
          <h2>{{device.name}}</h2>
          <h3><b>Address: </b>{{device.address}}</h3>
          <p><b>Class: </b>{{device.class}}</p>
          <p><b>Id: </b>{{device.id}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>