img {
    max-height: 45vh;
    max-width: auto;
    width: auto;
    margin:auto;
}

img.tallerImg {
    max-height: 67vh;
}


.carousel, .carousel-inner{
    border: 0px !important;
    outline: none !important;

}