code {
    font-size: .75em !important;
    line-height: 70%;
}

pre{
    margin-top: 4px;
    margin-bottom: 4px;
    border: solid grey 1px;
    line-height: .8;
    overflow: hidden;
}

span{
    font-size: 70%;
}