ion-card-header {
    padding-bottom: 0px;
}

ion-card-content {
    padding-top: 0px;

    p {
        font-size: 11px;
    }
}

::ng-deep .mat-tab-header {
    z-index: 999;
    width: 100vw;
    position: fixed !important;
}

::ng-deep .mat-tab-body-wrapper {
    position: relative !important;
    margin-top: 55px;
}
