<ion-header>
  <ion-toolbar>
    <ion-title>Trip Log</ion-title>
    <ion-buttons slot="primary">
      <app-manage-log></app-manage-log>
      <app-take-photo></app-take-photo>
      <app-settings></app-settings>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="!networkStatus"  class="bootstrap-css">
    <mat-tab-group #tabs animationDuration="0ms" [selectedIndex]="selectedTab" mat-align-tabs="center" mat-stretch-tabs
      [backgroundColor]="'primary'">
      <mat-tab label="Saved Logs">
        <ng-container *ngIf="(logs$ | async) as logs">
          <ng-container *ngIf="logs.length === 0; else logsExist">
            <ion-card>
              <ion-card-content>
                <p>
                  No Logs created yet! Try creating one!
                </p>
              </ion-card-content>
            </ion-card>
          </ng-container>
          <ng-template #logsExist>
            <ion-card *ngFor='let log of logs'>

              <ng-container *ngIf="(log.images | async) as images">
                <ng-container *ngIf="images.length > 0">
                  <app-log-slide [images]="images"></app-log-slide>
                </ng-container>
              </ng-container>

              <ion-card-header>
                <ion-card-title>{{log.title}}</ion-card-title>
                <ion-card-subtitle>{{log.description}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <p>
                  <b>Date:</b> {{log.timestamp?.toDate() | date:'MM/dd/yyyy'}}
                </p>
                <ng-container *ngIf="log.weather">
                  <p><b>Location:</b> {{log.weather.name}}</p>
                  <p><b>Temperature:</b> {{log.weather.main.temp}} <span class="degree"></span>F</p>
                </ng-container>
                <p *ngIf="log.averageTemperature">
                  <b>Average Water Temperature:</b> {{log.averageTemperature | temperatureConverter: 'F'}} <span
                    class="degree"></span>F
                </p>
                <p>
                  <b>Confirmed bites:</b> {{log.confirmedBites}}
                </p>

              </ion-card-content>
            </ion-card>
          </ng-template>

        </ng-container>

      </mat-tab>
      <ng-container *ngIf="(uncategorizedImages | async) as images">
        <mat-tab *ngIf="images.length > 0" label="Additional Images">
          <ion-card>
            <app-log-slide [images]="images" [taller]="true"></app-log-slide>
          </ion-card>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

  </div>

  <div [hidden]="networkStatus">
    <img src="assets/not-connected.png" />
  </div>

</ion-content>