<ion-content padding (click)="showHideConfig()">

  <ion-list>
    <ion-list-header>
      <ion-label>Settings</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>LED</ion-label>
      <ion-toggle (ionChange)="ledChange()" [(ngModel)]="ledStatus"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Autohook</ion-label>
      <ion-toggle (ionChange)="autoHookChange()" [(ngModel)]="autohook"></ion-toggle>
    </ion-item>
    <div [hidden]="!showConfig">
      <ion-item>
        <ion-label>1</ion-label>
        <ion-toggle (ionChange)="sendOne()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>2</ion-label>
        <ion-toggle (ionChange)="sendTwo()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>3</ion-label>
        <ion-toggle (ionChange)="sendThree()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>4</ion-label>
        <ion-toggle (ionChange)="sendFour()"></ion-toggle>
      </ion-item>
    </div>
    <ion-item>
      <ion-label>Vibration</ion-label>
      <ion-toggle (ionChange)="vibrationChange()" [(ngModel)]="vibrationStatus"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Sounds</ion-label>
      <ion-toggle (ionChange)="soundChange()" [(ngModel)]="soundStatus"></ion-toggle>
    </ion-item>


    <ion-list-header>
      <ion-label>Status</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label [ngClass]="{
        'connecting':(connectionStatusMessage$ | async) === 'Connecting',
        'connected':(connectionStatusMessage$ | async) === 'Connected',
        'disconnected':(connectionStatusMessage$ | async) === 'Disconnected'
      }">{{connectionStatusMessage}}</ion-label>

      <ion-icon (click)="disconnect()" *ngIf="(connectionStatusMessage$ | async) !== 'Disconnected'" name="close"
        slot="end" class="closeIcon"></ion-icon>

      <ion-icon (click)="connect()" *ngIf="(connectionStatusMessage$ | async) === 'Disconnected'" name="bluetooth"
        slot="end" class="bluetoothIcon"></ion-icon>
    </ion-item>
  </ion-list>


</ion-content>