<ion-header>
  <ion-toolbar>
    <ion-title>The Smart Bobber</ion-title>
    <ion-buttons slot="primary">
      <app-manage-log></app-manage-log>
      <app-settings></app-settings>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  
  <app-bite-graph></app-bite-graph>
  
  
  <ng-container *ngIf="weatherData">
    <p><b>Location:</b> {{weatherData.name}}</p>
    <p><b>Temperature:</b> {{weatherData.main.temp}} <span class="degree"></span>F</p>
  </ng-container>

  <ion-button (click)="vibrate()" color="primary">Vibrate</ion-button>
  <ion-button (click)="sound()" color="primary">Sound</ion-button>


</ion-content>