<ion-header>
  <ion-toolbar>
    <ion-title>Real-time Info</ion-title>
    <ion-buttons slot="primary">
      <app-manage-log></app-manage-log>
      <app-settings></app-settings>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <app-bite-graph></app-bite-graph>

  <ion-button expand="block" color="medium" (click)="changeTheme('autumn')">Autumn</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('night')">Dark</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('neon')">Neon</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('')">Default</ion-button>

  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <ion-button color="primary" class="foo">Foo</ion-button>



  <ion-checkbox color="primary" checked></ion-checkbox>
  <ion-checkbox color="secondary"></ion-checkbox>
  <ion-checkbox color="danger" checked></ion-checkbox>
  <ion-checkbox color="dark" checked></ion-checkbox>

</ion-content>