<ion-header>
  <ion-toolbar>
    <ion-title>Real-time Info</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-button [disabled]="!isConnected" (click)="write()">Write some shit!</ion-button>

  <ion-button [disabled]="isDiscovering" (click)="refresh()">Discover Devices!</ion-button>

  <p *ngIf="isDiscovering">Currently Discovering...</p>

  <p>Devices</p>

  <ion-list>
    <ion-item *ngFor="let device of devices">
      <ion-label (click)="connnect(device)">
        <h2>{{device.name}}</h2>
        <h3><b>Address: </b>{{device.address}}</h3>
        <p><b>Class: </b>{{device.class}}</p>
        <p><b>Id: </b>{{device.id}}</p>
      </ion-label>
    </ion-item>
  </ion-list>




  <p>Messages</p>
  <div *ngFor="let mes of messages">
    {{mes | json}}
  </div>
</ion-content>