<ion-header>
  <ion-toolbar>
    <ion-title>Real-time Info</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <ion-button (click)="write()">Write some shit!</ion-button>

  <ion-button (click)="write1()">Write some shit 1!</ion-button>

  <ion-button (click)="write2()">Write some shit 2!</ion-button>

  <ion-item>
    <ion-input [(ngModel)]="something" placeholder="Something"></ion-input>
  </ion-item>


  <p>Messages</p>
  <div *ngFor="let mes of messages; let i = index">
    {{i}} - {{mes | json}}
  </div>
</ion-content>